# Iterative Statements
- ### In pyhon we have 2 looping statements
    - for
        - write something here regards for loop
        - ```
        for varName in range():
            # body of the loop
        ```
    - while

In [2]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [3]:
for i in range(10):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,

In [4]:
for j in range(1,10):
    print(j,end=" ")

1 2 3 4 5 6 7 8 9

In [5]:
for k in range(1,10,2):
    print(k)

1
3
5
7
9

In [6]:
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [8]:
start = int(input("Enter a value: "))
end = int(input("Enter b value: "))
for i in range(start, end
               +1):
    print(i,end=",")

Enter a value: 50
Enter b value: 100
50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [17]:
a = int(input("Enter a value: "))
for i in range(1,11):
    print(a*i)

Enter a value: 5
5
10
15
20
25
30
35
40
45
50

In [19]:
a = int(input("Enter a value: "))
for i in range(1,21):
    print(a,"*",i,"=",a*i)

Enter a value: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100

In [3]:
s = int(input("Enter s value: "))
for i in range(2,s+1):
    if i%2 == 0:
        print(i,end=" ")
print("count:",s//2)

Enter s value: 100
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 count: 50

In [5]:
start = int(input("start = "))
end = int(input("end = "))
for i in range(start,end+1):
    if (i%2 == 0):
        print(i,end = ",")

start = 50
end = 100
50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [ ]:
i = 0
while(i<=10):
    print(i,end=" ")
    i += 1

In [3]:
i = 10
while(i>=1):
    print(i,end=" ")
    i -= 1

10 9 8 7 6 5 4 3 2 1

## break

In [1]:
for i in range(1,100):
    if i == 51:
        break
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

## continue

In [5]:
for i in range(1,101):
    if i%5 != 0:
        continue
    print(i,end=" ")

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

# Functions
-

In [6]:
# without passing args and without return result

def hi():
    print("hi hello how r u?")

In [7]:
hi()

hi hello how r u?

In [8]:
def add():
    return 10+5

In [9]:
add()

15

In [10]:
def mul(n1, n2):
    print(n1*n2)

In [11]:
mul(2,4)

8

In [12]:
def power(bval,expval):
    return bval**expval

In [13]:
power(2,3)

8

In [16]:
def isEven(n1):
    if n1%2 == 0:
        return True
    return False

In [17]:
n1 = int(input("Enter a number: "))
isEven(n1)

Enter a number: 56

True

In [27]:
def isOdd(n1):
    if n1%2 != 0:
        return True 
    return False

In [28]:
n1 = int(input("Enter a number: "))
isOdd(n1)

Enter a number: 56

False

In [30]:
def isFactor(n):
    if 25%n ==0:
        return True
    return False

In [32]:
num =int(input())
isFactor(num)

4

False

In [39]:
def isPrime(num):
    for i in range(2,num):
        if num%i == 0:
            return False
    return True
n = int(input())
isPrime(n)

56

False

In [41]:
for i in range(2,100):
    if isPrime(i):
        print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97